<form class="search-child-form">

  <h2> Parent Information </h2>

  <div class="form-row">
    <div class="form-group col-md-12">>
      <input class="form-control" id="student-name-to-search" type="search" placeholder="Enter your child's name" aria-label="Search">
    </div>
    <div class="form-group">>
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </div>

</form>

<br>
<br>


<div class="panel-group col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">Student{{studentInfo}}</div>
    <div class="panel-body" id="show-student-name">

      <script>
        var tester = "{{studentInfo}}";
        console.log(tester)
      </script>

      <h2>{{studentInfo}}</h2>

      <h2 id="show-full-name" style="color: black"></h2>

    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Driver:</div>
    <div class="panel-body" id="show-driver-name">

      <h2 id="show-driver-name" style="color: black"></h2>

    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Picture of Driver:</div>
    <div class="panel-body">
      <picture id="show-driver-img">

        <h2 id="show-driver-image" style="color: black"></h2>

        <source srcset="#" type="image/svg+xml">
        <img src="#" class="img-fluid img-thumbnail" alt="driver image">
      </picture>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Bus Number:</div>
    <div class="panel-body" id="show-driver-name">

      <h2 id="show-bus-number" style="color: black"></h2>

    </div>
  </div>
  {{!-- </div>
<div class="panel panel-default">
  <div class="panel-heading">Route Number:</div>
  <div class="panel-body" id="show-route-number">Panel Content</div>
</div> --}}
</div>