<form class="parent-info-page">

  <h2> Parent Information </h2>

  <div class="form-row">
    <div class="form-group col-md-12">>
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="form-group">>
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </div>

  <br>
  <br>

  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="input-bus-driver">Bus Driver</label>
      <input type="input" class="form-control" id="input-bus-driver">
    </div>

    <div class="form-group col-md-4">
      <!---image of driver- unresolved--->
      <label for="driver-img">Bus Driver</label>
      <picture id="driver-img">
        <source srcset="..." type="image/svg+xml">
        <img src="..." class="img-fluid img-thumbnail" alt="driver image">
      </picture>
    </div>
  </div>
    
  <br>
  <br>
    ​
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="input-bus-number">Bus No.</label>
      <input type="input" class="form-control" id="input-bus-number">
    </div>
  </div>

  <br>
  <br>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="input-route">Route No.</label>
      <input type="input" class="form-control" id="input-route">
    </div>
  </div>

</form>