{{> nav/header}}

<div class="text-center">
    <div class="container">

        {{!-- #########################body goes in here####################################### --}}

        <div class="row">

            <div class="col-md-12">
                
                {{> display-info/driver-info-block}}

            </div>

        </div>

        {{!-- #########################body goes in here####################################### --}}

    </div>
</div>

{{> nav/footer}}
