{{> nav/header}}


<div class="text-center">
    <div class="container">

        {{!-- #########################body goes in here####################################### --}}
        <div class="text-center">
            <div class="container">
                <a class="btn btn-lg btn-orange" href="/inputs" role="button">ADMIN LOGIN</a>
                <a class="btn btn-lg btn-orange" href="/parent-info-page" role="button">PARENT LOGIN</a>
                <a class="btn btn-lg btn-orange" href="/driver-info-page" role="button">ROUTE DISPLAY</a>
            </div>
            {{!-- #########################body goes in here####################################### --}}

        </div>
    </div>
</div>

{{> nav/footer}}
