<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="address-div">
        <h3>Student Addresses</h3>
        <ul>
          {{#each Student}}
            <li>
              {{id}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <!--close row-->

  <!--HTML & Code for Map -->
  <div class="row">
    <div id="map"></div>
    <div id="right-panel">
      <div>
        <b>Start:</b>
        <select id="start">
    <option value="3200 W Davis St, Conroe, TX 77304">CHS</option>
    </select>
        <br>
        <b>Waypoints:</b> <br>
        <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br>
        <select multiple id="waypoints">
          {{#each addresses}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
    <!-- <option value="200 Fountains Lane, Conroe, TX 77304">A</option>
    <option value="1971 O'Grady Dr Conroe, Texas">B</option>
    <option value="24 Dover Dr Conroe, TX 77304">C</option> -->
    </form>

  </select>
        <br>
        <b>End:</b>
        <select id="end">
    <option value="3200 W Davis St, Conroe, TX 77304">CHS</option>
    <!-- <option value="Seattle, WA">Seattle, WA</option>
    <option value="San Francisco, CA">San Francisco, CA</option>
    <option value="Los Angeles, CA">Los Angeles, CA</option> -->
  </select>
        <br>
        <input type="submit" id="submit">
      </div>
      <div id="directions-panel"></div>
    </div>
  </div>
</div>

<script>

  function initMap() {
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: {
        lat: 30.18,
        lng: -95.28
      }
    });
    directionsDisplay.setMap(map);

    document.getElementById('submit').addEventListener('click', function() {
      calculateAndDisplayRoute(directionsService, directionsDisplay);
    });
  }

  function calculateAndDisplayRoute(directionsService, directionsDisplay) {
    var waypts = [];
    var checkboxArray = document.getElementById('waypoints');
    for (var i = 0; i < checkboxArray.length; i++) {
      console.log(checkboxArray);
      if (checkboxArray.options[i].selected) {
        waypts.push({
          location: checkboxArray[i].value,
          stopover: true
        });
      }
    }

    directionsService.route({
      origin: document.getElementById('start').value,
      destination: document.getElementById('end').value,
      waypoints: waypts,
      optimizeWaypoints: true,
      travelMode: 'DRIVING'
    }, function(response, status) {
      if (status === 'OK') {
        directionsDisplay.setDirections(response);
        var route = response.routes[0];
        var summaryPanel = document.getElementById('directions-panel');
        summaryPanel.innerHTML = '';
        // For each route, display summary information.
        for (var i = 0; i < route.legs.length; i++) {
          var routeSegment = i + 1;
          summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
            '</b><br>';
          summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
          summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
          summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
        }
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEkI7qU2GiLBFGdTKSINkkZnHToR6DXxU&callback=initMap">
</script>
</body>

</html>
