
        {{!-- #########################body goes in here####################################### --}}
        <div class="text-center">
            <div class="container">
                <a class="btn btn-lg btn-orange" href="#" role="button">STUDENT LOGIN</a>
                <a class="btn btn-lg btn-orange" href="#" role="button">DRIVER LOGIN</a>
                <a class="btn btn-lg btn-orange" href="#" role="button">ROUTE DISPLAY</a>
            </div>
        </div>
            {{!-- #########################body goes in here####################################### --}}
