
<div class="templatemo-top-bar" id="templatemo-top">
            <div class="container">
                <div class="subheader">
                    <div id="phone" class="pull-left">
                            <img src="assets/images/bus1.png" alt="bus" width="25"/>
                            Let us get your route ready.
                    </div>
                    <div id="email" class="pull-right">
                            <img src="assets/images/email.png" alt="email"/>
                            RouteReady@RouteReady.com
                    </div>
                </div>
            </div>
        </div>
		
<div class="templatemo-top-menu">
            <div class="container">
                <!-- Static navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                                <a href="#" class="navbar-brand"><img src="assets/images/RouteReadyLogo/RouteReadyLogo.svg" alt="RouteReady" height="80" title="RouteReady" /></a>
                        </div>
                        <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                            <ul class="nav navbar-nav navbar-right" style="margin-top: 30px;">
                                <li class="active"><a href="#templatemo-top">HOME</a></li>
                                <li><a href="#templatemo-about">STUDENT LOGIN</a></li>
                                <li><a href="#templatemo-portfolio">DRIVER LOGIN</a></li>
                                <li><a href="#templatemo-blog">ROUTE INFO</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </div><!--/.navbar -->
            </div> <!-- /container -->
        </div>
		
<div class="templatemo-welcome" id="templatemo-welcome">
        <div class="container">
                <div class="templatemo-slogan text-center"><span class="txt_darkgrey">Welcome to </span><span class="txt_orange">RouteReady</span>
                  <p class="txt_slogan"><em>Your route is what we strive to get ready. With us, it always will be.</em></p>
                </div>	
            </div>
        </div>

		
        <div class="text-center" >
            <div class="container">

{{!-- #########################body goes in here####################################### --}}
              <div class="text-center" >
                <div class="container">
                  <a class="btn btn-lg btn-orange" href="#" role="button">STUDENT LOGIN</a>			  
                  <a class="btn btn-lg btn-orange" href="#" role="button">DRIVER LOGIN</a>
                  <a class="btn btn-lg btn-orange" href="#" role="button">ROUTE DISPLAY</a>
              </div>
{{!-- #########################body goes in here####################################### --}}

            </div>
        </div>
 
 <div class="templatemo-footer" >
     <div class="container">
         <div class="row">
             <div class="text-center">

                 <div class="footer_container">
                     <ul class="list-inline">
                         <li>
                             <a href="#">
                                 <span class="social-icon-fb"></span>
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 <span class="social-icon-rss"></span>
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 <span class="social-icon-twitter"></span>
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 <span class="social-icon-linkedin"></span>
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 <span class="social-icon-dribbble"></span>
                             </a>
                         </li>
                     </ul>
                     <div class="height30"></div>
                     <a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">Back To Top</a>
                     <div class="height30"></div>
                 </div>
                 <div class="footer_bottom_content">
            			<span id="footer-line">Copyright © 2018 RouteReady</span>
                 </div>
                 
             </div>
         </div>
     </div>
 </div>