<div class="container">
    <div class="row">
      <div class="col-md-4">

        <h3>Bus Table</h3>
        <ul>
          {{#each bus}}
              <li>
                {{Driver}}
                {{Number}}

              </li>
          {{/each}}
        </ul>
      </div>


    </div>
    <!--close row-->

</div>


</body>

</html>
