<h1>Inputs page</h1> 
<br>

<div class="row">

  <div class="col-md-4">
    {{> inputs/student-form}}
    
  </div>

  <div class="col-md-4">
    {{> inputs/drivers-form}}
    
  </div>

  <div class="col-md-4">
    {{> inputs/bus-form}}
  </div>

</div>


