{{> nav/header}}

<div class="text-center">
    <div class="container">

        {{!-- #########################body goes in here####################################### --}}

        <div class="row">

            <div class="col-md-4">
                {{> inputs/student-form}}

            </div>

            <div class="col-md-4">
                {{> inputs/drivers-form}}

            </div>

            <div class="col-md-4">
                {{> inputs/bus-form}}
            </div>

        </div>

        {{!-- #########################body goes in here####################################### --}}

    </div>
</div>

{{> nav/footer}}
