{{> nav/header}}

<div class="text-center">
    <div class="container">

        {{!-- #########################body goes in here####################################### --}}

        <div class="row">

            <div class="col-md-8">
                {{> display-info/parent-info-block}}

        </div>

        {{!-- #########################body goes in here####################################### --}}

    </div>
</div>

{{> nav/footer}}
