{{> nav/header}}

<div class="text-center">
    <div class="container">

        {{!-- #########################body goes in here####################################### --}}


        <div class="panel panel-default">
            <div class="panel-heading">Bus Number:</div>
            <div class="panel-body" id="show-driver-name">{{showStudent}}</div>
        </div>

        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">
                {{> display-info/parent-info-block}}
            </div>

        </div>

        {{!-- #########################body goes in here####################################### --}}

    </div>
</div>

{{> nav/footer}}