{{> nav/header}}

<div class="text-center">
    <div class="container">

        {{!-- #########################body goes in here####################################### --}}

        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">
                {{> display-info/parent-info-block}}
            </div>

        </div>

        {{!-- #########################body goes in here####################################### --}}

    </div>
</div>

{{> nav/footer}}