/*Styles for Google Map*/
#right-panel {
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 600px;
  float: left;
  width: 800px;
  border: 1px solid black;
}

#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}

#directions-panel {
  margin-top: 10px;
  background-color: #FFEE77;
  padding: 10px;
  overflow: scroll;
  height: 174px;
}

#submit {
  margin-top: 15px;
}

#submit:hover {
  background-color: #eeeb4e;
}

.map-li {
list-style: none;
}

.map-li:before
{
    content: "\2610";
    margin-right:5px;
}

.map-li:hover
{
    background-color: #eeeb4e;
    font-weight: bold;
}

.map-li:hover:before
{
    content: "\2611";
    margin-right:5px;
}

#routing-div {
  /* border: 1px solid #eeeb4e; */
  padding: 15px;
}

.name-li {
  list-style: none;
  color: white;
  font-size: 20px;
}

.name-li:before {
  content: "\2610";
  margin-right:5px;
}

#manifest-div {
  /* border: 1px solid #eeeb4e; */
  padding: 15px;
}

#manifest-header {
  color: white;
}

.directions-text {
  color: white;
  font-size: 20px;
}

#submit-student-new {
  margin-top: 25px;
}

.modal-title {
  color: black;
  font-size: 36px;
  text-shadow: 0 0 2px #eeeb4e;


}

#modal-body-text {
  color: black;
  font-size: 24px;
  text-shadow: 0 0 2px #eeeb4e;
}

.modal-dialog {
  border: 1px solid black;
}

.templatemo-top-menu stuckMenu {
  border-top: 1px solid #eeeb4e;
  border-bottom: 1px solid #eeeb4e;
}
