/*Styles for Google Map*/
#right-panel {
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 600px;
  float: left;
  width: 800px;
  border: 1px solid black;
}

#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}

#directions-panel {
  margin-top: 10px;
  background-color: #FFEE77;
  padding: 10px;
  overflow: scroll;
  height: 174px;
}

li {
list-style: none;
}

li:before
{
    content: "\2610";
    margin-right:5px;
}

li:hover
{
    background-color: lightyellow;
}

li:hover:before
{
    content: "\2611";
    margin-right:5px;
}

#turn-by-turn {
  /* border: 1px solid orange; */
}
