body,
html {
    overflow-x: hidden;
}

body {
    background-image: url("../images/Background.svg");
    background-repeat: repeat;
    background-size: 500px 500px;
    font-family: Open Sans, Arial, Helvetice Neue, sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    font-family: Open Sans, Arial, Helvetice Neue, sans-serif;
    color: white;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

label {
    color: white;
}

b {
    color: white;
}

.templatemo_clear {
    clear: both;
}

.height30 {
    height: 20px;
}

.templatemo-top-bar {
    background-image: url('../images/Background2.svg');
    background-color: transparent;
    min-height: 20px;

}

.templatemo-top-menu {
    background-image: url('../images/Background2.svg');
    min-height: 50px;
    z-index: 75;
    width: 100%;

    border-top: 1px solid #eeeb4e;
    border-bottom: 1px solid #eeeb4e;
}

.templatemo-top-menu .navbar-toggle {
    background-color: transparent;
    margin-top: 25px;
}

.templatemo-top-menu .navbar-brand {
    background-color: transparent;
    padding: 0;
    margin: 10px 0 0 0;
}

.templatemo-welcome {
    min-height: 50px;
    align-content: center;
}

.templatemo-slogan {
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    font-size: 42px;
    margin: 60px 0;
    color: #EDED00;
}

.templatemo-service {
    margin-bottom: 500px;
    margin-top: 50px;
}

.templatemo-service-item {
    font-family: Open Sans, sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}

.templatemo-service-item p {
    font-weight: lighter;
    text-align: justify;
    margin-top: 25px;
    font-size: 14px;
    color: #FFFFFF;
}

.subheader {
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    margin-top: 12px;
    font-size: 12px;
    color: #EDED00;
}

.btn-orange {
    background-color: #EDED00;
    border-bottom: 2px solid #EDED00;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #000000;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    background-color: #EDED00;
    color: #000000;
}

.nav>li>a {
    padding: 10px 20px;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #EDED00;
    color: #ffFFFf;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
}

.nav>li>a {
    color: #FFFFFF;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    background-color: #EDED00;
    color: #000000;
}

.navbar {
    margin-bottom: 0px;
}

.templatemo-service-item-header {
    margin-left: -10px;
    padding: 16px 20px 20px;
    font-weight: bold;
    display: inline-block;
}

.templatemo-header-orange {
    background-color: #EDED00;
    min-width: 298px;
    height: 67px;
    color: #fff;
}

.team_hr {
    width: 39.5%;
    float: left;
}

.team_hr_left {
    margin-right: 30px;
    margin-left: 15px;
}

.team_hr_right {
    margin-left: 30px;
}

.hr_gray {}

.templatemo-line-header {
    margin-top: 100px;
    margin-bottom: 80px;
}

.member-thumb:hover .thumb-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.member-thumb {
    position: relative;
    overflow: hidden;
}

.member-thumb .thumb-overlay {
    background-color: rgba(220, 157, 102, 0.8);
    position: absolute;
    visibility: hidden;
    padding-top: 35%;
    padding-left: 25%;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}

.thumb-overlay a {
    float: left;
    margin-right: 5px;
}

.team-inner {
    margin-top: 10px;
}

.team-inner-header {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.team-inner-subtext {
    font-weight: normal;
    font-size: 12px;
}

.row_team {
    margin-left: -50px;
    margin-top: 70px;
}

.row_team li {
    list-style: none;
}

.templatemo-project-box {
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 200px;
    width: 200px;
}

.templatemo-project-box:hover .project-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.project-overlay {
    background: rgba(0, 0, 0, .75);
    visibility: hidden;
    position: absolute;
    text-align: center;
    padding-top: 40px;
    color: #ffffff;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}

.project-overlay hr {
    width: 70%;
}

.templatemo-project-gallery li {
    margin: 15px;
}

.txt_darkgrey {
    color: #FFFFFF;
}

.txt_orange {
    color: #EDED00;
}

.txt_slogan {
    font-size: 14px;
    color: #FFFFFF;
}

.templatemo-line-header span {
    font-size: 18px;
    float: left;
    margin-top: 10px;
}

.team_box div {
    text-align: center;
    padding-top: 100px;
}

.span_blog {
    margin-bottom: 80px;
}

.blog_post {
    color: #FFFFFF;
    padding: 10px;
}

.blog_header {
    font-weight: bold;
    font-size: 16px;
}

.blog_text {
    text-align: justify;
    font-size: 14px;
    margin-top: 20px;
}

#templatemo-contact {
    margin-top: 100px;
    font-size: 14px;
}

.templatemo-contact-map {
    margin-bottom: 15px;
    height: 378px;
}

.head_contact {
    padding-bottom: 80px;
    margin-bottom: 0;
}

.contact_right img {
    margin-right: 5px;
}

.contact_right form {
    padding-left: 15px;
    padding-right: 15px
}

.tweet_txt {
    min-height: 160px;
}

.twitter_user {
    color: #FFFF33;
    font-size: 14px;
    float: right;
}

.templatemo-partners .templatemo-partner-item {
    margin-bottom: 5px;
}

.templatemo-footer {
    margin-top: 25px;
}

.footer_container {
    margin-top: 60px;
    margin-bottom: 40px;
}

.footer_bottom_content {
    margin: auto;
    margin-bottom: 30px;
    font-size: 14px;
    color: #FFFFFF;
}

.social-icon-fb {
    /* background: url('../../templatemo_395_urbanic/images/social-icon-fb.png') no-repeat; */
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-fb {
    /* background: url('../../templatemo_395_urbanic/images/social-icon-fb-over.png') no-repeat; */
}

.social-icon-rss {
    /* background: url('../../templatemo_395_urbanic/images/social-icon-rss.png') no-repeat; */
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-rss {
    /* background: url('../../templatemo_395_urbanic/images/social-icon-rss-over.png') no-repeat; */
}

.social-icon-twitter {
    /* background: url('../../templatemo_395_urbanic/images/social-icon-twitter.png') no-repeat; */
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-twitter {
    /* background: url('../../templatemo_395_urbanic/images/social-icon-twitter-over.png') no-repeat; */
}

.social-icon-linkedin {
    /* background: url('../../templatemo_395_urbanic/images/social-icon-linkedin.png') no-repeat; */
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-linkedin {
    /* background: url('../../templatemo_395_urbanic/images/social-icon-linkedin-over.png') no-repeat; */
}

.social-icon-dribbble {
    /* background: url('../../templatemo_395_urbanic/images/social-icon-dribbble.png') no-repeat; */
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-dribbble {
    /* background: url('../../templatemo_395_urbanic/images/social-icon-dribbble-over.png') no-repeat; */
}

ul.templatemo-project-gallery li a img:hover {}

.templatemo-gallery-category a {
    color: #333333;
}

.templatemo-gallery-category a.active {
    color: #EDED00;
    text-decoration: none;
}

.templatemo-gallery-category a:focus {
    color: #EDED00;
    text-decoration: none;
}

.templatemo-gallery-category a:hover {
    color: #EDED00;
    text-decoration: none;
}

.link_orange:hover {
    text-decoration: none;
}

.templatemo-project-gallery {
    margin: 0 0 0 0;
    margin-top: 30px;
    margin-left: -40px;
}

.templatemo-project-gallery li {
    list-style: none;
    margin-bottom: 25px;
}

.templatemo-project-gallery li img {
    cursor: pointer;
}

.templatemo-tweets {
    background-color: #8996a0;
    min-height: 200px;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-top: 100px;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-style: italic;
}

.btn_loadmore {
    margin-top: 30px;
    margin-bottom: 80px;
}

.blog_box {
    margin-left: -12px;
}

@media (min-width:991px) and (max-width:1200px) {
    .templatemo-project-box,
    .project-overlay {
        height: 170px;
        width: 170px;
    }
    .templatemo-project-gallery {
        margin-left: -70px;
    }
    .templatemo-service-item-header {
        padding: 16px 10px 20px;
    }
    .templatemo-header-orange {
        min-width: 230px;
    }
    .team_box,
    .team_box_over {
        height: 220px;
        width: 220px;
    }
}

@media (max-width:991px) {
    .team-inner {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .templatemo-btn-read-more {
        float: right;
        margin-bottom: 40px;
    }
}

@media (min-width:768px) and (max-width:990px) {
    .member-thumb .thumb-overlay {
        padding-left: 30%;
    }
    .templatemo-project-box,
    .project-overlay {
        height: 130px;
        width: 130px;
        padding-top: 0px;
    }
    .templatemo-project-gallery {
        margin-left: 10px;
    }
    .blog_box {
        margin-right: -140px;
    }
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 9px;
        padding-bottom: 9px;
    }
}

@media (max-width: 768px) {
    .member-thumb .thumb-overlay {
        padding-left: 40%;
    }
    .templatemo-btn-read-more {
        float: right;
        margin-bottom: 40px;
    }
}

@media (max-width: 380px) {
    .member-thumb .thumb-overlay {
        padding-left: 30%;
    }
    .templatemo-service-item-header {
        font-size: 16px;
        padding: 23px 10px 22px;
    }
    .templatemo-header-orange {
        min-width: 0px;
    }
}

@media (min-width:991px) and (max-width: 1200px) {
    .team_hr {
        width: 37%;
    }
}

@media (min-width:683px) and ( max-width: 991px) {
    .team_hr {
        width: 33%;
    }
}

@media (min-width:585px) and ( max-width: 683px) {
    .member-thumb .thumb-overlay {
        padding-left: 25%;
    }
    .team_hr {
        width: 30%;
    }
}

@media (min-width:536px) and ( max-width: 585px) {
    .team_hr {
        width: 28%;
    }
}

@media (min-width:410px) and ( max-width: 536px) {
    .team_hr {
        width: 21%;
    }
}

@media ( max-width: 410px) {
    .team_hr {
        width: 11%;
    }
}
