
<form>

    <h2> Bus Input </h2>


    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="input-bus-number">Bus No.</label>
            <input type="input" class="form-control" id="input-bus-number">
        </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="capacity">Capacity</label>
            <input type="input" class="form-control" id="capacity">
        </div>
    
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="input-route-number">Route No.</label>
            <input type="input" class="form-control" id="input-route-number">
        </div>
    
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    
</form>
