
<form class="add-driver-form">

  <h2> Driver Input </h2>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="input-first-name">First Name</label>
            <input type="text" class="form-control" id="input-first-name" placeholder="First Name">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="input-last-name">Last Name</label>
            <input type="text" class="form-control" id="input-last-name" placeholder="Last Name">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="input-image">Image</label>
            <button id="upload">Upload Driver Image</button>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="input-comments">comments</label>
            <input type="text" class="form-control" id="input-comments" placeholder="driver commments">
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

