<form class="add-driver-form">

    <h2> Driver Input </h2>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="input-driver-first-name">First Name</label>
            <input type="text" class="form-control" id="input-driver-first-name" placeholder="First Name">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="input-driver-last-name">Last Name</label>
            <input type="text" class="form-control" id="input-driver-last-name" placeholder="Last Name">
        </div>
    </div>

    <!-- <div class="form-row">
        <div class="form-group col-md-12">
            <label for="input-image">Image</label>
            <!--Dans Code-->
            <button id="upload">Upload Driver Image</button>
            <!--Dans Code-->
        </div>
    </div> -->

    <!-- Dan's code -->
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="input-image">Image</label>
                <!--Dans Code-->
                <button id="upload">Upload Driver Image</button>
                <!--Dans Code-->
            </div>
        </div>
        <!-- Dan's code -->

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="input-comments">comments</label>
            <input type="text" class="form-control" id="input-comments" placeholder="driver commments">
        </div>
    </div>

    <div class="form-group col-md-4">
        <label for="assign-driver-bus">Pick bus</label>
        <select id="assign-driver-bus" class="form-control">
            <option selected>Choose...</option>
            <option>
                {{#each busNumber}}
                <option value="{{this.id}}">{{this.bus_number}}</option>
                {{/each}}
            </option>

        </select>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
