<div class="templatemo-footer">
    <div class="container">
        <div class="row">
            <div class="text-center">

                <div class="footer_container">
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/">
                                <img src="assets/images/social-icon-fb.png" class="social-icon-fb"></img>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.rss.com/">
                                <img src="assets/images/social-icon-rss.png" class="social-icon-rss"></img>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/">
                                <img src="assets/images/social-icon-twitter.png" class="social-icon-twitter"></img>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/">
                                <img src="assets/images/social-icon-linkedin.png" class="social-icon-linkedin"></img>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="assets/images/social-icon-dribbble.png" class="social-icon-dribbble"></img>
                            </a>
                        </li>
                    </ul>
                    <div class="height30"></div>
                    <a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">Back To Top</a>
                    <div class="height30"></div>
                </div>
                <div class="footer_bottom_content">
                    <span id="footer-line">Copyright © 2018 RouteReady</span>
                </div>

            </div>
        </div>
    </div>
</div>
