<div class="templatemo-top-bar" id="templatemo-top">
    <div class="container">
        <div class="subheader">
            <div id="phone" class="pull-left">
                <img src="assets/images/bus1.png" alt="bus" width="25" /> Let us get your route ready.
            </div>
            <div id="email" class="pull-right">
                <img src="assets/images/email.png" alt="email" /> RouteReady@RouteReady.com
            </div>
        </div>
    </div>
</div>

<div class="templatemo-top-menu">
    <div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        <img src="../assets/images/RouteReadyLogo/RouteReadyLogo.svg" alt="RouteReady" height="80" title="RouteReady"
                        />
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 60px;">
                        <li class="active">
                            <a href="/">HOME</a>
                        </li>
                        <li>
                            <a href="/parent-info-page">PARENT INFORMATION</a>
                        </li>
                        <li>
                            <a href="/inputs">STUDENT LOGIN</a>
                        </li>

                        <li>
                            <a href="/driver-info-page">ROUTE INFO</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </div>
        <!--/.navbar -->
    </div>
    <!-- /container -->
</div>
<HR COLOR="yellow" WIDTH="60%"><br>

<div class="templatemo-welcome" id="templatemo-welcome">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <span class="txt_darkgrey">Welcome to </span>
            <span class="txt_orange">RouteReady</span>
            <p class="txt_slogan">
                <em>Your route is what we strive to get ready. With us, it always will be.</em>
            </p>
        </div>
    </div>
</div>
